@import url('normalize.css');

.fonts-loaded body {
	font-family: 'Didact Gothic', sans-serif;
}
body {
	font-family: sans-serif;
	padding-top: 56px;
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #AA0000;
}
a:visited {
	color: #888888;
}
.fonts-loaded h1 {
	font-family: 'Roboto Slab', serif;
}
h1 {
	font-family: serif;
}
.fonts-loaded h2 {
	font-family: 'Roboto Slab', serif;
}
h2 {
	font-family: serif;
}
.fonts-loaded h3 {
	font-family: 'Roboto Slab', serif;
}
h3 {
	font-family: serif;
}
.fonts-loaded h4 {
	font-family: 'Roboto Slab', serif;
}
h4 {
	font-family: serif;
}

.fgvmsW {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

